<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Image Board</title>
        <link rel="stylesheet" href="/styles.css">
        <link rel="icon" type="image/x-icon" href="./favicon.png">
        <script
            defer
            src="./js/app.js"
            type="module"
            crossorigin="use-credentials"
        ></script>
    </head>
    <body>
        <div id="main">
            <!-- v-bind is used for attributes like class, src, href, alt @click="fullImageUrl = image.url" -->
          <div class="image-container">
                <ul class="images-list" v-if="images.length > 0">
                    <li v-for="image in images">
                        <img v-bind:src="image.url" :id="image.id" @click="openModal(image.id)"> 
                        <h6>{{ image.title }}</h6> 
                        <button class="user-button"><h6 :class="image.username">{{image.username}}</h6> </button>
                        <h6>{{image.description}}</h6>
                        
                        
                <div class="sandbox-text">
                    <p v-if=" image.likes > 0">
                        Image has {{ image.likes }} likes
                        <button v-on:click="like(image.id, image.likes)">👍</button>
                    </p>
                    <p v-else>
                        No likes! 🥺,
                        <button v-on:click="like(image.id, image.likes)">like? 👍</button>
                    </p>
                </div>
                    </li>
                </ul>
                <!-- <button @click="moreImages">Load more images ...</button> -->
            </div>
            
            <div class="form-container">
                <form v-on:submit="handleSubmit">
                    <div class="form-text-inputs-flex">
                        <span>Title: </span><input type="text" name="filename" v-model="title">
                        <span>Description: </span><input type="text" name="filename" v-model="description">
                        <span>Username: </span><input type="text" name="filename" v-model="username">
                    </div>
                     <div class="form-file-upload-flex">
                         <span>File: </span><input type="file" name="file" accept="image/*" v-on:change="handleFileChange">
                         <button>Submit</button>  <div v-if="loading"> 🛠️ 🛠️ .. Loading.. 🛠️ 🛠️</div>
                     </div>
                </form> 
                
            </div>


            <image-summary v-if="showModal"  @close="closeModal"  class="overlay-image" v-bind:id="thisImageId" > 

            </image-summary>





        </div>
    </body>
</html>
