@media (prefers-color-scheme: dark) {
    * {
        margin: 0;
        box-sizing: border-box;
    }

    .image-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .images-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .images-list li {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 6px;
        background-color: aliceblue;
        border-style: double;
        border-radius: 5px;
    }

    .images-list img {
        width: 100px;
        height: 100px;
        object-fit: fill;
        border-radius: 5px;
        cursor: pointer;
    }

    .images-list h6 {
        margin: 3px 0;
        font-size: 1em;
        font-weight: lighter;
        text-align: center;
    }

    .sandbox-text {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4px;
        font-size: 0.8em;
    }

    .sandbox-text button {
        border: none;
        background: none;
        cursor: pointer;
        font-size: 0.5em;
        font-weight: bold;
        color: blue;
        text-decoration: underline;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    form .form-text-inputs-flex {
        display: flex;
        align-items: center;
        margin: 8px 0;
    }
    /* --------------------------------------------------------------------- */

    .discoduck {
        color: brown;
    }

    .hassan {
        color: goldenrod;
    }

    .overlay-image::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.903);
        filter: blur(5px);
        z-index: -1;
    }

    .overlay-image img {
        position: initial;
        width: 300px;
        height: 300px;
        top: 10%;
        object-fit: fill;
        border-radius: 5px;
        cursor: pointer;
    }

    .overlay-image {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-modal {
        display: flex;
        flex-direction: column;
    }

    ul.comments-list {
        display: flex;
        flex-direction: column;
    }

    .image-card-details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* 
    .overlay-image img {
        width: 100px;
        height: 100px;
        object-fit: fill;
        border-radius: 5px;
        cursor: pointer;
    }

    .overlay-image {
        display: flex;
        flex-direction: column;
        align-items: center;
    } */

    .user-button {
        font-family: "Open Sans", sans-serif;
        font-size: 8px;
        font-weight: bold;
        letter-spacing: 2px;
        text-decoration: none;
        text-transform: uppercase;
        color: #000;
        cursor: pointer;
        border: 1px solid;
        padding: 0.25em 0.25em;
        box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px,
            4px 4px 0px 0px, 5px 5px 0px 0px;
        position: relative;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .user-button:active {
        box-shadow: 0px 0px 0px 0px;
        top: 3px;
        left: 3px;
    }

    @media (min-width: 768px) {
        .user-button {
            padding: 0.25em 0.75em;
        }
    }

    form .form-file-upload-flex {
        display: flex;
        align-items: center;
        margin: 8px 0;
    }

    form span {
        margin: 0 8px;
    }

    form input {
        font-size: 1em;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    form button {
        font-size: 1em;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: blue;
        color: white;
        cursor: pointer;
    }

    body {
        background-color: rgb(36, 36, 36);
        color: rgb(169, 164, 164);
        opacity: 90%;
    }

    a {
        color: #fff;
    }

    .header {
        background-color: #111;
    }

    .footer {
        background-color: #222;
    }
}
