* {
    margin: 0;
    box-sizing: border-box;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.images-list {
    display: flex;
    flex-direction: row;
}

.image-container img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
